html {
    -webkit-appearance: none;
}

body {
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(56, 56, 56, 0.7), 
      rgba(56, 56, 56, 0.7)
    ),
    /* bottom, image */
    url(img/1.gif);
    background-size: cover;
    background-position: center;
    font-family: 'Bebas Neue', cursive;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
}

.hero {
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1, h2 {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

.hero h1 {
    color: white;
    font-size: 5rem;
    font-weight: 700;
}

.hero h2 {
    color: rgb(43, 219, 199);
    font-size: 3rem;
}

.buttons {
    margin: 15px auto;
    background-color: rgba(243, 243, 243, 0.2);
    padding: 15px;
    border-radius: 10px;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.buttons i {
    color: rgb(43, 219, 199);
    font-size: 2rem;
    margin: 0px 20px;
}

@media only screen and (min-width: 900px) {
    
    body {
        background-position: top;
    }

    .hero h1, h2 {
        line-height: 1;
    }

    .hero h1 {
        font-size: 12rem;
    }

    .hero h2 {
        font-size: 7rem;
    }
    
    .buttons {
        margin: 30px auto;
        width: 30vw;
    }

    .buttons i {
        font-size: 3rem;
        margin: 0px 2vw;
    }
  }